html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;

  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg {
  width: 100%;
  height: auto;
  display: block;
}

.btn {
  position: absolute;
  padding: 20px 40px;
  
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn img {
  width: 20vw;
  max-width: 320px;
}

@media (max-width: 768px) {
  .btn img {
    width: 180px;
  }
}
